doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Passport-Learning
        link(rel='stylesheet', href='style.css')
    body
        h3 Add new snippet
        main
            form#add-snippet-form(action='/create', method='post', enctype='application/x-www-form-urlencoded')
                label(for='language') Language:
                input#language(type='text', name='language')
                label(for='creator') Creator:
                input#creator(type='text', name='creator')
                label(for='code') Code Snippet:
                textarea(name='code' rows='25' cols='40')
                input(type='submit', value='Add')

        script(src="https://code.jquery.com/jquery-2.1.1.min.js")