html, body, main, div, form, label, input{
	margin: 0;
	padding: 0;
}

main{
	background-color: #eeeeee;
}

h3{
	margin-left: 20px;
	text-transform: uppercase;
}

.snippet-div{
	padding: 20px;
	width: 250px;
}

#add-snippet-form{
	padding: 30px;
}

#add-snippet-form > input{
	margin: 5px;
}

#add-snippet-form > label {
	margin: 5px;
	display: block;
}

#add-snippet-form > textarea{
	margin: 5px;
	display: block;
}

input[type='submit']{
	margin-top:10px;
	margin-left: 20px;
	margin-bottom:10px;
	padding:4px;
	width: 100px;
}

input[type='button']{
	margin-top:10px;
	margin-left: 20px;
	margin-bottom:10px;
	padding:4px;
	width: 150px;
}